@import "../../foundation/color.scss";
@import "../../foundation/mixin.scss";

.contact {
    width: 100%;
    height: auto;
    background: url('/common/contact/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include sp {
        background: url('/common/contact/bg_sp.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}
.container {
    padding-top: 12rem;
    padding-bottom: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include sp {
        padding-top: 6.4rem;
        padding-bottom: 6.4rem;
    }
}
.title,
.text {
    width: 100%;
    text-align: center;
}
.titleEn,
.titleJa {
    margin: 0 auto;
}
.text {
    margin-top: 2.4rem;
}
.btn {
    margin-top: 4rem;
    background: $white;
    @include sp {
        margin-top: 1.2rem;
    }
}