@import "../foundation/color.scss";
@import "../foundation/mixin.scss";

.p-element-header-button {
    &__headerButton {
        position: relative;
        width: 3.2rem;
        display: flex;
        flex-direction: column;
        gap: .6rem;
        z-index: 1000;
    }
    
    &__line1,
    &__line2 {
        content: "";
        display: block;
        width: 100%;
        height: 0.2rem;
        background-color: $indigo;
        transition: .3s ease-out;
        transform-origin: center;
    }
    &__headerButton[aria-expanded="true"] > .line1 {
        transform: translate(2px, 4px) rotateZ(-20deg) rotateY(180deg);
    }
    
    &__headerButton[aria-expanded="true"] > .line2 {
        transform: translate(2px, -3px) rotateZ(20deg) rotateY(180deg);
    }
}