@import "../../foundation/color.scss";

.container {
    padding-top: 12rem;
    padding-bottom: 12rem;
}
.title {
    text-align: center;
}
.main {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 144rem;
    margin: 6.4rem auto 0;
    padding-left: min(5.5vw, 8rem);
    padding-right: min(5.5vw, 8rem);
}
.banner {
    display: inline-flex;
    background: $indigo;
    padding: 1.6rem 1.7rem;
    gap: 2rem;
}
.arrow {
    display: block;
    transform: rotate(-45deg);
}
.text {
    margin-right: -3.6rem;
}
.thumbnailArea {
    width: 100%;
    position: relative;
    padding-right: min(5.5vw, 8rem);
}
.scrollArea {
    position: absolute;
    top: -5.5rem;
    right: min(calc(100 / 1440 * 100vw), 10rem);
    background: $bg;
    width: 11rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle {
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
    border: 0.1rem solid $indigo;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scrollArrow {
    display: block;
    font-size: 2rem;
}
.thumbnail {
    width: 100%;
    height: auto;
    object-fit: cover;
}