@import "../../foundation/color.scss";
@import "../../foundation/mixin.scss";

.p-top-news {
    &__container {
        padding-top: 8rem;
        padding-bottom: 8rem;
        max-width: 144rem;
        margin: 0 auto;
        padding-left: min(calc(80 / 1440 * 100%), 8rem);
        padding-right: min(calc(80 / 1440 * 100%), 8rem);
        @include sp {
            padding-top: 6.4rem;
            padding-bottom: 6.4rem;
            padding-left: min(calc(20 / 375 * 100%), 2rem);
            padding-right: min(calc(20 / 375 * 100%), 2rem);
        }
    }
    &__bg {
        background: $indigo;
        display: flex;
        justify-content: space-between;
        padding-top: 8rem;
        padding-bottom: 8rem;
        padding-left: min(calc(70 / 1440 * 100%), 7rem);
        padding-right: min(calc(70 / 1440 * 100%), 7rem);
        @include sp {
            flex-direction: column;
            padding-top: 4rem;
            padding-bottom: 4rem;
            padding-left: min(calc(24 / 335 * 100%), 2.4rem);
            padding-right: min(calc(24 / 335 * 100%), 2.4rem);
        }
    }
    &__titleArea {
        margin-top: -2.4rem;
        @include sp {
            margin-top: 0;
        }
    }
    &__contents {
        width: calc(660 / 1140 * 100%);
        border-top: 1px solid $white;
        border-bottom: 1px solid $white;
        @include sp {
            width: 100%;
            margin-top: 4rem;
        }
    }
    &__item + &__item {
        border-top: 1px solid $white;
    }
    &__item {
        padding: 4rem 0;
        display: flex;
        flex-direction: column;
        gap: .4rem;
        @include sp {
            padding: 2.4rem 0;
        }
    }
}