@import "../../foundation/color.scss";
@import "../../foundation/mixin.scss";

.recruit {
    background: $bg-gray;
}
.container {
    padding-top: 8rem;
    padding-bottom: 8rem;
    max-width: 144rem;
    margin: 0 auto;
    padding-left: min(calc(190 / 1440 * 100%), 19rem);
    padding-right: min(calc(190 / 1440 * 100%), 19rem);
    display: flex;
    justify-content: space-between;
    @include sp {
        padding-top: 6.4rem;
        padding-bottom: 6.4rem;
        padding-left: min(calc(20 / 375 * 100%), 2rem);
        padding-right: min(calc(20 / 375 * 100%), 2rem);
        flex-direction: column;
        justify-content: flex-start;
        gap: 6.4rem;
    }
}
.inner {
    display: flex;
    justify-content: center;
    align-items: center;
    @include sp {
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 4rem;
    }
}
.text {
    margin-top: 3.2rem;
}
.btn {
    margin-top: 4rem;
}
.imgArea {
    width: 48%;
    aspect-ratio: 589 / 792.47;
    @include sp {
        width: 100%;
    }
}
.img {
    width: 100%;
    height: 100%;
    background: url('/top/recruit/1.png');
    background-size: 106%;
    background-position: center;
    background-repeat: no-repeat;
}