@import '../../foundation/color.scss';

.container {
    padding-top: 10.8rem;
    padding-bottom: 12rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 144rem;
    padding-left: min(calc(80 / 1440 * 100%), 8rem);
    padding-right: min(calc(80 / 1440 * 100%), 8rem);
    display: flex;
    justify-content: space-between;
}
.textArea {
    width: calc(620 / 1440 * 100%);
}
.title { 
    padding-bottom: 4.8rem;
    white-space: pre-wrap;
}
.text {
    padding-top: 4.8rem;
    white-space: pre-wrap;
}
.line {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: $black;
}
.imgInner {
    width: calc(620 / 1440 * 100%);
    display: flex;
    justify-content: center;
}
.imgArea {
    width: calc(400 / 620 * 100%);
}
.img {
    width: 100%;
    height: auto;
    object-fit: cover;
}