@import '../../foundation/color.scss';
@import '../../foundation/mixin.scss';

.p-service-content {
    &__container {
        padding-top: 10.8rem;
        padding-bottom: 12rem;
        margin-right: auto;
        margin-left: auto;
        max-width: 144rem;
        padding-left: min(calc(80 / 1440 * 100%), 8rem);
        padding-right: min(calc(80 / 1440 * 100%), 8rem);
        display: flex;
        justify-content: space-between;
        @include sp {
            padding-top: 6.4rem;
            padding-bottom: 6.4rem;
            padding-left: min(calc(20 / 375 * 100%), 2rem);
            padding-right: min(calc(20 / 375 * 100%), 2rem);
            flex-direction: column;
        }
    }
    &__textArea {
        width: calc(620 / 1440 * 100%);
        @include sp {
            width: 100%;
        }
    }
    &__title { 
        padding-bottom: 4.8rem;
        white-space: pre-wrap;
        @include sp {
            padding-bottom: 2.4rem;
        }
    }
    &__text {
        padding-top: 4.8rem;
        white-space: pre-wrap;
        @include sp {
            padding-top: 2.4rem;
        }
    }
    &__line {
        content: '';
        display: block;
        height: 1px;
        width: 100%;
        background-color: $black;
    }
    &__imgInner {
        width: calc(620 / 1440 * 100%);
        display: flex;
        justify-content: center;
        @include sp {
            width: 100%;
            padding-top: 4rem;
        }
    }
    &__imgArea {
        width: calc(400 / 620 * 100%);
        @include sp {
            width: 100%;
        }
    }
    &__img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}